# Byte-compiled / optimized / DLL files
__pycache__/
*/__pycache__/
*.py[cod]
*$py.class

# Jupyter
.ipynb_checkpoints
*/.ipynb_checkpoints/*
plots/

# core dump
*$.core
**/[Cc]ore*

# Madgraph
scripts/madgraph/ME5_debug
scripts/madgraph/py.py
scripts/madgraph/proc_sm_muprod_wz_nomatch
scripts/madgraph/proc_sm_muprod_wz_matched
py.py

slurm*.out