# Byte-compiled / optimized / DLL files
__pycache__/
*/__pycache__/
*.py[cod]
*$py.class

# Jupyter
.ipynb_checkpoints
*/.ipynb_checkpoints/*
plots/

# core dump
*$.core
**/[Cc]ore*

# scripts/data
# scripts/proc*
scripts/madgraph/ME5_debug
scripts/madgraph/proc_sm_muprod_wz_nomatch/Events/*
scripts/madgraph/proc_sm_muprod_wz_matched/Events/*